body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(117, 138, 23);
    font-family: "Monteserrat", sans-serif;

}

.header {
    /* min-height: 70px; */
    background-color: #203302;
    font-family: "Monteserrat", sans-serif;
    text-align: center;
}

.header h1 {
    color: rgb(117, 138, 23);
    font-size: 80px;
    margin-top: -10px;
    text-align: center;
}

.menu {
    background-color: #203302;
    text-align: center;
}

.menu li {
    padding: 20px;
    min-width: 100px;
    
}

.menu ul{
    display: inline-flex;
    align-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a:link {
    color: #6c757d;
    text-decoration: none;
}

.menu a:visited {
    color: #6c757d;
    text-decoration: none;
}

.menu a:active {
    color: #6c757d;
    text-decoration: none;
}

.game {
    text-align: center;
    background-color: rgb(117, 138, 23) ;
    font-family: "Monteserrat", sans-serif;
    font-size: 20px;

}

.game h1{
    color:#203302;
    text-align: justify;
}

.game p.h{
    color:#ffffff;
    text-align: justify;
    line-height: 25px;
}

.game p.j{
    line-height: 28px;
    text-align: justify;

}

.game p.ay {
    text-align: justify;
    max-width: 350px;
    line-height: 25px;
}

.game p.ak {
    text-align: justify;
    max-width: 350px;
    line-height: 25px;

}

.game .img{
    margin-top: -200px;
    margin-bottom: 100px;  
    margin-right: 700px;  
}

.game canvas {
    
    position: relative;
    
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

}

.container {
    max-width: 1600px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color:#ffffff;
}

.footer {
    background-color: #203302;
    font-family: "Monteserrat", sans-serif;
    text-align: center;
}

.footer p {
    color: #ffffff;
    line-height: 35px;
    text-align: center; 
}


/* CURRICULO, PORTFOLIO, INDEX */



.title h1 {
    text-align: center;
    font-style: normal;
    color: white;
}

.title h2 {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    margin-top: 40px;
}

.title h3 {
    color: #f27609;
    font-size: 12px;
    text-transform: uppercase;
}

.title p {
    color: white;
    font-size: 18px;
    font-style: normal 100;
}


.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}